.indredients__title {
   font-weight: 600;
   font-size: 10px;
   line-height: 130%;
   margin-bottom: 4px; 
}

.indredients__list {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    margin-bottom: 4px; 
}

.indredients__item {
    margin-bottom: 2px;
}

.indredients__item:last-child {
    margin-bottom: 0;
}

.indredients__calories {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #b1b1b1;
}

@media (min-width: 1024px) {
    .indredients__calories,
    .indredients__list,
    .indredients__title{
        font-size: 12px;
    }
}